### 标记
##### 排序

In [1]:
a = [7, 2, 5, 1, 3]
a.sort()
a
# 不创建新的对象

[1, 2, 3, 5, 7]

使用key二级排序，reverse控制反转排序

In [2]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [3]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len,reverse=True)
b

['small', 'foxes', 'saw', 'six', 'He']

bisect模块支持二分查找，和向已排序的列表插入值。bisect.bisect可以找到插
入值后仍保证排序的位置，bisect.insort是向这个位置插入值

In [9]:
import bisect
# c表已排序
c = [1, 2, 2, 2, 3, 4, 7]
print(bisect.bisect(c,2))
print(c[bisect.bisect(c,2)-1])
c

4
2

[1, 2, 2, 2, 3, 4, 7]

In [11]:
bisect.bisect(c, 5)
print(c[bisect.bisect(c, 5)-1])

4

#### sorted函数

In [12]:
# 返回一个新的排好序的列表
res = sorted([7, 1, 2, 6, 0, 3, 2])
print(res)
res = sorted('horse race')
print(res)

[0, 1, 2, 2, 3, 6, 7]
[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

### zip函数
- zip可以将多个列表、元组或其它序列成对组合成一个元组列表
* 可以处理任意多的序列，元素的个数取决于最短的序列

In [13]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [14]:
seq3 = [False, True]
res = list(zip(seq1, seq2, seq3))
print(res)

[('foo', 'one', False), ('bar', 'two', True)]

- zip的常见用法之一是同时迭代多个序列，可能结合enumerate使用

In [15]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

- 给出一个“被压缩的”序列，zip可以被用来解压序列。也可以当作把行的列表转换为列的列表。这个方法看起来有点神奇：

In [16]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),
            ('Schilling', 'Curt')]
first_names, last_names = zip(*pitchers)
print(first_names)
print(last_names)

('Nolan', 'Roger', 'Schilling')
('Ryan', 'Clemens', 'Curt')

## dict

In [17]:
empty_dict = {}
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [19]:
d1[7] = 'an integer'
print(d1)
d1['b']

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

[1, 2, 3, 4]

In [20]:
'b' in d1

True

In [21]:
d1[5] = 'some value'
print(d1)
d1['dummy'] = 'another value'
print(d1)
del d1[5]
print(d1)
# pop方法（返回值的同时删除键）
ret = d1.pop('dummy')
print(ret)
print(d1)

{'a': 'some value', 'b': [1, 2, 3, 4], 5: 'some value', 7: 'an integer'}
{'a': 'some value', 'b': [1, 2, 3, 4], 5: 'some value', 'dummy': 'another value', 7: 'an integer'}
{'a': 'some value', 'b': [1, 2, 3, 4], 'dummy': 'another value', 7: 'an integer'}
another value
{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

- 用update方法可以将一个字典与另一个融合
- update方法是原地改变字典，因此任何传递给update的键的旧的值都会被舍弃

In [25]:
print(d1)
d1.update({'b' : 'foo', 'c' : 12})
print(d1)

{'c': 12, 7: 'an integer', 'a': 'some value', 'b': 'foo'}
{'c': 12, 7: 'an integer', 'a': 'some value', 'b': 'foo'}

- dict的方法get和pop可以取默认值进行返回

value = some_dict.get(key, default_value)

In [27]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
for word in words:
    letter = word[0]
#     by_letter.setdefault(letter, []).append(word)
    by_letter.setdefault(letter, [])
by_letter

{'a': [], 'b': []}

## 嵌套列表推导式

In [28]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [29]:
result = [name for names in all_data for name in names
          if name.count('e') >= 2]
result

['Steven']

In [30]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# 函数

In [31]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']

In [42]:
import re

def clean_str(strings):
    for i in range(len(strings)):
        str = strings[i]
        str = str.strip()
        str = re.sub("[@#?]","",str)        
        str = str.title()        
        strings[i] = str           
clean_str(states)  
res

['Alabama',
 'Georgia!',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

- 还有另外一种不错的办法：将需要在一组给定字符串上执行的所有运算做成一个列表

In [43]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [44]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [46]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']
for x in map(remove_punctuation, states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

### Anonymous (Lambda) Functions

In [47]:
# 按照不重复字母数量排序
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']
strings.sort(key=lambda x: len(set(list(x))))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

### 柯里化：部分参数应用
- 柯里化（currying）是一个有趣的计算机科学术语，它指的是通过“部分参数应用”（partial argument application）从现有函数派生出新函数的技术。例如，假设我们有一个执行两数相加的简单函数

In [48]:
def add_numbers(x, y):
    return x + y
add_five = lambda y: add_numbers(5, y)
add_five(23)

28

In [49]:
from functools import partial
add_five = partial(add_numbers, 5)
add_five(22)

27

#### Generator expresssions

In [50]:
gen = (x ** 2 for x in range(100))
gen

### itertools模块
- 标准库itertools模块中有一组用于许多常见数据算法的生成器。例如，groupby可以接受任何序列和一个函数。它根据函数的返回值对序列中的连续元素进行分组。

In [51]:
import itertools
first_letter = lambda x: x[0]
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

- combinations生成1个K元元祖，不考虑顺序

In [53]:
nums = [1,2,3,4,5,6]
tri_nums = itertools.combinations(nums,3)
for tup in tri_nums:
    print(tup)

(1, 2, 3)
(1, 2, 4)
(1, 2, 5)
(1, 2, 6)
(1, 3, 4)
(1, 3, 5)
(1, 3, 6)
(1, 4, 5)
(1, 4, 6)
(1, 5, 6)
(2, 3, 4)
(2, 3, 5)
(2, 3, 6)
(2, 4, 5)
(2, 4, 6)
(2, 5, 6)
(3, 4, 5)
(3, 4, 6)
(3, 5, 6)
(4, 5, 6)

In [54]:
nums = [1,1,3,4,1,6]
tri_nums = itertools.combinations(nums,3)
for tup in tri_nums:
    print(tup)

(1, 1, 3)
(1, 1, 4)
(1, 1, 1)
(1, 1, 6)
(1, 3, 4)
(1, 3, 1)
(1, 3, 6)
(1, 4, 1)
(1, 4, 6)
(1, 1, 6)
(1, 3, 4)
(1, 3, 1)
(1, 3, 6)
(1, 4, 1)
(1, 4, 6)
(1, 1, 6)
(3, 4, 1)
(3, 4, 6)
(3, 1, 6)
(4, 1, 6)

- permutaiton函数生成1个K元元祖，考虑顺序

In [57]:
nums = [1,1,3,4,1,6]
tri_nums = itertools.permutations(nums,3)
[tup for tup in tri_nums]

[(1, 1, 3),
 (1, 1, 4),
 (1, 1, 1),
 (1, 1, 6),
 (1, 3, 1),
 (1, 3, 4),
 (1, 3, 1),
 (1, 3, 6),
 (1, 4, 1),
 (1, 4, 3),
 (1, 4, 1),
 (1, 4, 6),
 (1, 1, 1),
 (1, 1, 3),
 (1, 1, 4),
 (1, 1, 6),
 (1, 6, 1),
 (1, 6, 3),
 (1, 6, 4),
 (1, 6, 1),
 (1, 1, 3),
 (1, 1, 4),
 (1, 1, 1),
 (1, 1, 6),
 (1, 3, 1),
 (1, 3, 4),
 (1, 3, 1),
 (1, 3, 6),
 (1, 4, 1),
 (1, 4, 3),
 (1, 4, 1),
 (1, 4, 6),
 (1, 1, 1),
 (1, 1, 3),
 (1, 1, 4),
 (1, 1, 6),
 (1, 6, 1),
 (1, 6, 3),
 (1, 6, 4),
 (1, 6, 1),
 (3, 1, 1),
 (3, 1, 4),
 (3, 1, 1),
 (3, 1, 6),
 (3, 1, 1),
 (3, 1, 4),
 (3, 1, 1),
 (3, 1, 6),
 (3, 4, 1),
 (3, 4, 1),
 (3, 4, 1),
 (3, 4, 6),
 (3, 1, 1),
 (3, 1, 1),
 (3, 1, 4),
 (3, 1, 6),
 (3, 6, 1),
 (3, 6, 1),
 (3, 6, 4),
 (3, 6, 1),
 (4, 1, 1),
 (4, 1, 3),
 (4, 1, 1),
 (4, 1, 6),
 (4, 1, 1),
 (4, 1, 3),
 (4, 1, 1),
 (4, 1, 6),
 (4, 3, 1),
 (4, 3, 1),
 (4, 3, 1),
 (4, 3, 6),
 (4, 1, 1),
 (4, 1, 1),
 (4, 1, 3),
 (4, 1, 6),
 (4, 6, 1),
 (4, 6, 1),
 (4, 6, 3),
 (4, 6, 1),
 (1, 1, 1),
 (1, 1, 3),
 (1, 1, 4),
 (1, 1, 6),
 (1, 1, 1),
 (1, 1, 3),
 (1, 1, 4),
 (1, 1, 6),
 (1, 3, 1),
 (1, 3, 1),
 (1, 3, 4),
 (1, 3, 6),
 (1, 4, 1),
 (1, 4, 1),
 (1, 4, 3),
 (1, 4, 6),
 (1, 6, 1),
 (1, 6, 1),
 (1, 6, 3),
 (1, 6, 4),
 (6, 1, 1),
 (6, 1, 3),
 (6, 1, 4),
 (6, 1, 1),
 (6, 1, 1),
 (6, 1, 3),
 (6, 1, 4),
 (6, 1, 1),
 (6, 3, 1),
 (6, 3, 1),
 (6, 3, 4),
 (6, 3, 1),
 (6, 4, 1),
 (6, 4, 1),
 (6, 4, 3),
 (6, 4, 1),
 (6, 1, 1),
 (6, 1, 1),
 (6, 1, 3),
 (6, 1, 4)]

### 异常处理
- 处理多个异常

In [1]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

- 全面的异常处理

f = open(path, 'w')

try:
    write_to_file(f)
except:
    print('Failed')
else:
    print('Succeeded')
finally: